@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Genos:wght@200&family=Titillium+Web:wght@200&display=swap');

//$body-size: 20px !default;


// Set your brand colors
//$purple: #8A4D76;
//$pink: #FA7C91;

//$brown: #8F5615;
//$light-brown: #DB994D;
$dark-blue: #58a0bc;
//$light-blue: #73D5FF;
//$blue: #4DB0DC;


//$beige-light: #D0D1CD;
//$beige-lighter: #EFF0EB;

// Update Bulma's global variables
$family-sans-serif: "Titillium Web", sans-serif;

//$grey-dark: $brown;
//$grey-light: $blue;
$primary: #f48023;
//$link: $dark-blue;

//$widescreen-enabled: false;
//$fullhd-enabled: false;

// Update some of Bulma's component variables
//$body-background-color: $beige-lighter;
//$control-border-width: 2px;
//$input-border-color: transparent;
//$input-shadow: none;

// Import only what you need from Bulma
// @import "../../node_modules/bulma/sass/utilities/_all.sass";
// @import "../../node_modules/bulma/sass/base/_all.sass";
// @import "../../node_modules/bulma/sass/elements/button.sass";
// @import "../../node_modules/bulma/sass/elements/container.sass";
// @import "../../node_modules/bulma/sass/elements/title.sass";
// @import "../../node_modules/bulma/sass/form/_all.sass";
// @import "../../node_modules/bulma/sass/components/navbar.sass";
// @import "../../node_modules/bulma/sass/layout/hero.sass";
// @import "../../node_modules/bulma/sass/layout/section.sass";

//$control-padding-horizontal: 5px;
//$control-padding-vertical: 0px;
//$control-border-width: 2px;
$control-radius-small: 4px;


@import "../../node_modules/bulma/bulma.sass";
@import "../../node_modules/@creativebulma/bulma-divider/src/sass/index.sass";

.text-s { // portfolio
  background-color: grey;
}

/* in order to make buttons have text left*/
.justify-content-start {
  justify-content: flex-start;
}
.justify-content-end {
  justify-content: flex-end;
}

.disable {
  opacity: 0.8;
  pointer-events: none;
  background-color: white;
  color: black;
}

/* Top left text */
.text-404 {
  color: white;
  font-size: 70px;
}

.container-404 {
  padding: 50px;
  background-image: url("404.jpg");
  background-size: cover;
  height: 900px;
}

.is-blue {
  font-size: 40px;
  color: blue;
}

.is-red {
  color: red;
  font-size: 35px;
}

.is-white {
  color: white;
}

.other-div {
  width: 100px;
  height: 100px;
  background: red;
  transition: width 2s;
}

.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  /*font-size: 29px;*/
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkbox-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #aaa;
  border-radius: 20%;

}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkbox-checkmark {
  background-color: $primary;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container:hover input:checked ~ .checkbox-checkmark {
  background-color: $primary;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkbox-checkmark {
  background-color: #aaa;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkbox-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkbox-checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkbox-checkmark:after {
  left: 9px;
  top: 5px;
  width: 8px;
  height: 14px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.svg-non-select {
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}