<!DOCTYPE html>
<html>
<head>
    <title>Something Bad Happened</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/screen.css">

</head>
<body>
<div class="container-404 text-404">
    <h1>Oooops...</h1>
    <!-- <h1>Error: {{status}}</h1> -->
    {% if title %}
    <h2>{{title}}</h2>
    {% endif %}
    {% if message %}
    <h4>{{message}}</h4>
    {% endif %}
</div>
</body>
</html>
