[#_{:db/doc                "User ID"
    :db/ident              :user/id
    :db/valueType          :db.type/string
    :db/cardinality        :db.cardinality/one
    :db/unique             :db.unique/identity}

 {:db/doc                "User screen name"
  :db/ident              :user/name
  :db/valueType          :db.type/string
  :db/cardinality        :db.cardinality/one}

 {:db/doc                "User password - encrypted"
  :db/ident              :user/password
  :db/valueType          :db.type/string
  :db/cardinality        :db.cardinality/one}

 {:db/doc                "User email address"
  :db/ident              :user/email
  :db/valueType          :db.type/string
  :db/cardinality        :db.cardinality/one
  :db/unique             :db.unique/identity}

 {:db/doc                "User status"
  :db/ident              :user/status
  :db/valueType          :db.type/ref
  :db/cardinality        :db.cardinality/one}

 {:db/ident :user.status/guest}
 {:db/ident :user.status/pending} ;; activation via email not yet done
 {:db/ident :user.status/active}
 {:db/ident :user.status/inactive}
 {:db/ident :user.status/cancelled}]

