{:tx-data [{:user/name     "Armin Benno Cargo"
            :user/email    "abc@example.com"
            :user/password "secret"
            :user/status   :user.status/active}

           {:user/name     "Emil Ferdinant Gans"
            :user/password "very-secret"
            :user/email    "efg@example.com"
            :user/status   :user.status/cancelled}


           {:user/name     "BEL"
            :user/password "very-secret"
            :user/email    "bel@bel.de"
            :user/status   :user.status/active
            :user/models   -99}

           {:db/id      -99
            :model/name "theModel"
            :model/data "dataDataData"}]}
